/*
  This was created by Mike Julander
  https://mikej.tech
*/
*{
  transition: 0.4s;
}
body{
  background-color: #222;
}
.hidden{
  display: none !important;
}
.column{
  display: flex;
  flex-direction: column;
  margin: auto;
}
#clock,#about,#secs{
  display: flex;
  width: 100%;
  color: #eee;
}
a, a:hover, a:visited{
  color:inherit;
}
#clock, #about, .values, button, #info, #aminfo, #pminfo, #secs{
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}
#hours, #minutes, #seconds{
  margin-top: 30px;
  margin-left: 10px;
}
.hours, .minutes, .seconds{
  padding:20px 0px 20px 0px;
}
.hours, .minutes, #value, .seconds{
  display: flex;
  width: 100%;
  border-bottom: #AAA 1px solid;
}
.shrunk, #value{
  width: 75%;
}
.values{
  text-align: center;
  color: #eee;
}
.values, .light{
  margin: auto;
  width: 50px;
  border-radius: 50%;
}
.light{
  height: 50px;
  background-color: dimGrey;
}
.am{
  background-color: yellow;
}
.pm{
  background-color: #33ff77;
}
.military{
  background-color: aqua;
}
#info{
  color: #eee;
}
button:hover, button:visited, button:active, button{
  color: black;
  background: #CCC;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
#form{
  margin-left: 10%;
}
@media only screen and (max-width: 550px){
  #form{
    margin-left: 5%;
  }
  .values{
   font-size: 90%;
  }
  #hours, #minutes, #seconds{
    margin-top: 0;
    margin-left: 0;
  }
  #about,#clock, #secs{
    flex-direction: column;
  }
  .hours, .minutes, #value, .seconds, .shrink{
    width: 100%;
  }
  .column{
    flex-direction: column;
  }
  .light, .values{
    width: 35px;
  }
  .light{
    height: 35px;
  }
}
@media only screen and (max-width: 400px){
  #form{
    margin-left: 2%;
  }
  button:hover, button:visited, button:active, button{
    padding: 10px 5px;
  }
  .values{
    font-size: 80%;
  }
  #info{
    font-size: 85%;
  }
  .light, .values{
    width: 30px;
  }
  .light{
    height: 30px;
  }
}
